@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    @apply appearance-none;
    margin: 0;
  }

  .no-spinner {
    @apply appearance-none;
  }
}

.font-p-d {
  font-family: "Playfair Display", sans-serif;
  font-optical-sizing: auto;
}

.font-m {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.font-pb{
  font-family: "Playball", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.font-l{
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #d0b376;
  margin-block: 0.3rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #00486c;
  border-radius: 1rem;
}

// container sizes

.max_screen_width {
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
}

// container sizes for xl, lg, md, sm screens

.max_width {
  max-width: 100%;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
  @media (min-width: 768px) {
    max-width: 720px;
    padding-inline: 1rem;
  }
  @media (min-width: 992px) {
    max-width: 960px;
    padding-inline: 1rem;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
    padding-inline: 1rem;
  }
  @media (min-width: 1400px) {
    max-width: 1320px;
    padding-inline: 0;
  }
}

.max-Width {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 0 1.5rem;
  }

  @media screen and (max-width: 480px) {
    padding: 0 1.65rem;
  }
}

.input-div .file-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #727272;
}

.file-upload-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #ffffff;
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  padding: 0.11rem 0.8rem;
}

.file-upload {
  display: none;
  /* Hide the default file input */
}

.custom-file-upload {
  display: inline-block;
  padding: 0.3rem 20px;
  background-color: #d0b376;
  /* Change this to your desired color */
  color: white;
  border: 1px solid #d0b376;
  border-radius: 4px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #ffffff;
  color: #d0b376;
}

.upload-text {
  /* margin-right: 10px;
   */
  /* Space between text and button */
  width: 400px;
  color: #727272;
}

.job-section {
  position: relative;
}

.job-section select {
  -webkit-appearance: none;
  /* Remove default arrow in WebKit browsers */
  -moz-appearance: none;
  /* Remove default arrow in Firefox */
  appearance: none;
  /* Remove default arrow in modern browsers */
}

.job-section select::-ms-expand {
  display: none;
  /* Remove default arrow in Internet Explorer */
}

.svg {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  width: max-content;
  height: max-content;
  fill: #d0b376;
  transform: translateY(-50%);
  cursor: pointer;
  /* Make SVG cursor a pointer */
  background-color: #fff;
  pointer-events: none;
}

// animations
.fed-up {
  animation: fedUp 0.9s ease-in-out;
}

@keyframes fedUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fed-down {
  animation: fedDown 0.9s ease-in-out;
}

@keyframes fedDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.pagedata {
  text-align: justify;
  ul {
    @apply text-lg;
    color: #727272;
    list-style: circle;
    font-weight: 300;
    padding: 0 0 0 2.5rem;
    @media screen and (max-width: 768px) {
      @apply text-base;
      padding: 0 0 0 1.5rem;
    }
  }
  p {
    @apply text-lg;
    font-weight: 300;
    color: #727272;
    @media screen and (max-width: 768px) {
      @apply text-base;
    }
  }
  ol {
    @apply text-lg;
    color: #727272;
    font-weight: 300;
    list-style: decimal;
    padding: 0 0 0 2.5rem;
    @media screen and (max-width: 768px) {
      @apply text-base;
      padding: 0 0 0 1.5rem;
    }
  }
}

.box-shadow {
  box-shadow: 0px 7px 28px rgba(0, 0, 0, 0.25);
}

.banner{
  .swiper-pagination-bullet {
        background-color: #ffffff;
        opacity: 1;
        transition: all 0.2s ease-in-out;
        &-active {
            width: 1.5rem;
            height: 0.5rem;
            border-radius: 8px;
        }
    }
}